{% extends 'base.html' %} {% block content %}
<h1>Edit a user</h1>
<form method="Post">
  <label for="first_name" class="form-label">First name </label>
  <input
    name="first_name"
    placeholder="Enter a first name"
    type="text"
    value="{{user.first_name}}"
    required
    class="form-control"
  />
  <label for="last_name"class="form-label">Last name </label>
  <input
    name="last_name"
    placeholder="Enter a last name"
    type="text"
    value="{{user.last_name}}"
    required
    class="form-control"
  />
  <label for="image_url"class="form-label">Image url </label>
  <input
    name="image_url"
    placeholder="Provide image of this user"
    type="url"
    value="{{user.image_url}}"
    required
    class="form-control mb-3"
  />
  <a href="/users/{{user.id}}" class="btn btn-primary">Cancel</a>
  <button class="btn btn-success">Save</button>
</form>
{% endblock %}
